{% extends 'base.html' %}
{% block content %}


<div style="display: grid; place-items: center; margin-top: 110px; background: whitesmoke; 
border-radius: 13px;">

<h1>Sign in</h1>
    <form style="max-width: 400px; " action="{{ url_for('login') }}" method="POST">
      
      {{ form.hidden_tag() }}
      <!-- Username input -->
      {{ form.username.label() }}
      {{ form.username(class="form-control") }}
      <br>
      <!-- Password input -->
      {{ form.password.label() }}
      {{ form.password(class="form-control") }}
      <br>
      <!-- Submit button -->
      {{ form.submit(class="btn btn-primary btn-block mb-4") }}


        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="{{ url_for('register') }}">Register</a></p>
        </div>
      </form>
</div>
<br><br><br><br>
{% endblock %}