{% extends 'base.html'%}

{% block content %}
 <h1>{% block title %} About {% endblock %}</h1>

 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Quasi faci
    lis autem, quae vel nisi consequuntur
     aliquid nihil rem distinctio eos ad! Sed, quibusdam.
     Voluptatum iste ipsa veritatis aut, vel quod?
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quasi faci
        lis autem, quae vel nisi consequuntur
         aliquid nihil rem distinctio eos ad! Sed, quibusdam.
         Voluptatum iste ipsa veritatis aut, vel quod?
        </p>
 <span>@Bahrom Bek 2023</span>


{% endblock %}